<%= form_for(@user) do |us| %>
    <div class="row justify-content-center">
      <div class="column col-sm-6 ">
        <br>
        <div class="form-group">
          <%= us.label :nombres %>
          <%= us.text_field :nombres ,:class => "form-control"  %>
        </div>
        <div class="form-group">
          <%= us.label :apellidos %>
          <%= us.text_field :apellidos ,:class => "form-control"  %>
        </div>
        <div class="form-group">
          <%= us.label :cedula %>
          <%= us.text_field :cedula ,:class => "form-control"  %>
        </div>
        <div class="form-group">
          <%= us.label :email %>
          <%= us.text_field :email ,:class => "form-control"  %>
        </div>

        <div class="actions">
          <%= us.submit "Update", :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
<% end %>