<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<table class="table table-inverse">
  <thead>
  <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <% if user.id != 1%>
      <tr>
        <th scope="row"> <%= user.id %> </th>
        <td> <%= user.nombres %> </td>
        <td> <%= user.apellidos %> </td>
        <td> <%= user.cedula %> </td>
        <td> <%= user.email %> </td>
        <td>
          <%= link_to "View",user_path(user),:class => "btn btn-info"%>
          <%= link_to "Edit",edit_user_path(user),:class => "btn btn-primary"%>
          <%= link_to "Delete", destroy_user_path(user), :method => :delete, :data => { :confirm => 'Estas seguro?' },:class => "btn btn-danger" %>
        <td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>