<%= form_for(@user) do |us| %>
    <div class="row justify-content-center">
      <div class="column col-sm-6 ">
        <br>
        <div class="form-group">
          <%= us.label :nombres %>
          <%= us.text_field :nombres ,:class => "form-control"  %>
        </div>
        <div class="form-group">
          <%= us.label :apellidos %>
          <%= us.text_field :apellidos ,:class => "form-control"  %>
        </div>
        <div class="form-group">
          <%= us.label :cedula %>
          <%= us.text_field :cedula ,:class => "form-control"  %>
        </div>
        <div class="form-group">
          <%= us.label :email %>
          <% if flash[:alert] %>
              <div class="alert alert-danger">
                <%= flash[:alert] %>
              </div>
          <% end %>
          <%= us.text_field :email.downcase ,:class => "form-control"  %>
        </div>

        <div class="actions">
          <%= us.submit "Create", :class => "btn btn-primary" %>
        </div>
      </div>
    </div>


<% end %>