<div class="row justify-content-center">
  <div class="column col-sm-8 ">
  <%= form_for(@book) do |f| %>
        <br>

        <div class="form-group">
          <%= f.label :nombre %><br>
          <%= f.text_area :nombre,:class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :autor%><br>
          <%= f.text_area :autor, :class => "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :descripcion %><br>
          <%= f.text_area :descripcion, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Update", :class => "btn btn-success" %>
        </div>
  <% end %>
</div>
</div>

