<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<div class="row justify-content-center">
<% @books.each do |b| %>

      <div class="col-sm-4">

        <div class="card" style="width: 20rem;" >
          <%=  image_tag b.image.url(:medium) ,:class =>"card-img-top" %>
          <div class="card-block">
            <h4><%= b.nombre.downcase.capitalize! %></h4>
            <h7> <%= b.autor.capitalize! %></h7>
            <p> <%= b.descripcion %> </p>
            <%= link_to "See more", book_path(b), :class => "btn btn-primary"%>
            <%= link_to "Prestar", prestar_book_path(b), :class => "btn btn-warning "%>
          </div>

        </div>
        <br>
      </div>

<% end %>
</div>