<%= form_for(@book) do |b| %>
    <div class="row justify-content-center">
      <div class="column col-sm-8 ">
        <br>
        <div class="form-group">
          <%= b.label :nombre %><br>
          <%= b.text_field :nombre,:class => "form-control" %>
        </div>
        <div class="form-group">
          <%= b.label :autor%><br>
          <%= b.text_field :autor, :class => "form-control"%>
        </div>
        <div class="form-group">
          <%= b.label :descripcion %><br>
          <%= b.text_area :descripcion, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= b.label :image %><br>
          <%= b.file_field :image , :class => "form-control-file"%>
        </div>
        <div class="form-group">
          <%= b.label :usuario %><br>
          <%= b.select(:user_id,options_for_select(@users_id_name)) %>
        </div>

        <div class="actions">
          <%= b.submit "Create", :class => "btn btn-primary" %>
        </div>
      </div>
    </div>


<% end %>