<div class="row justify-content-center">
  <div class="column col-sm-8 ">
    <%= form_for(@book) do |f| %>
        <br>

        <div class="form-group">
          <%= f.label :nombre %><br>
          <%= f.text_field :nombre,:class => "form-control",:readonly => true %>
        </div>
        <div class="form-group">
          <%= f.label :autor%><br>
          <%= f.text_field :autor, :class => "form-control",:readonly => true%>
        </div>
        <div class="form-group">
          <%= f.label :descripcion %><br>
          <%= f.text_area :descripcion, :class => "form-control",:readonly => true %>
        </div>
        <div class="form-group">
          <%= f.label :usuario %><br>
          <%= f.select(:user_id,options_for_select(@users_id_name), :class => "form-control") %>
        </div>
        <div class="form-group">
          <%= f.submit "Prestar", :class => "btn btn-success" %>
        </div>
    <% end %>
  </div>
</div>

