<table class="table table-inverse">
  <thead>
  <tr>
    <th>#</th>
    <th>Nombre</th>
    <th>Autor</th>
    <th>Prestado a</th>
    <th>Regresar</th>
  </tr>
  </thead>
  <tbody>
  <% @books.each do |b| %>
    <% if b.user_id !=  1 %>
      <tr>
        <th scope="row"> <%= b.id %> </th>
        <td> <%= b.nombre %> </td>
        <td> <%= b.autor %> </td>
        <td> <%= b.user[:nombres] %> <%= b.user[:apellidos] %>  </td>
        <td> <%= link_to "Devolver", prestar_book_path(b) %> </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
