<div class="row justify-content-center">
  <%=  image_tag @book.image.url(:medium) %>
  <div class="column col-sm-8 ">


  <h1><%= @book.nombre %></h1>
  <h7><%= @book.autor %></h7>
  <%= @book.descripcion %>

  <%= link_to "Edit", edit_book_path(@book), :class => "button"%>
    <%= link_to "Delete", destroy_book_path(@book), :method => :delete, :data => { :confirm => 'Estas seguro?' },:class => "btn btn-danger" %>

  </div>
</div>
