<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%=  stylesheet_link_tag    "application" %>
    <%=  javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>



  </head>

  <body>

  <div class="container">
      <br>
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Personal library</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active ">
              <a class="nav-link btn btn-outline-success my-2 my-sm-0" href="/users">Usuarios <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/users/new">New user</a>
            </li>
            <li class="nav-item active">
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn btn-outline-success my-2 my-sm-0" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Libros
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/books">Todos</a>
                <a class="dropdown-item" href="/books/prestamos">Prestamos</a>
                <a class="dropdown-item" href="/books/new">Nuevo libro</a>
              </div>
            </li>

          </ul>
        </div>
      </nav>
      <br>


    <%= yield %>
  </div>


  </body>
</html>
